@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-header{
    background: #79b8e4;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 12px;
}

    /* .rbc-event{
        padding: 0px !important;
        border-radius: 0px !important;
        border: none !important;
        background-color: transparent !important;
    } */

.rbc-event-label{
    display: none !important;
}

.rbc-time-slot{
    background-color: #eaf3fa;
    color: #74a4c3;
}

.rbc-events-container{
    width: 100% !important;
}

.rbc-timeslot-group{
    min-height: 120px !important;
}